.menu__desktop {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3em;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__desktop:hover ~ .menu__dropdown_bg {
  display: block;
}

.menu__item {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}
.menu__item a {
  color: inherit;
  text-decoration: none;
}
.menu__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color90, #323232);
  bottom: 0.25em;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
.menu__item:hover::before {
  transform: scaleX(1);
}
.menu__item:hover .menu__dropdown {
  display: grid;
}

.menu__dropdown {
  position: absolute;
  list-style: none;
  top: 50px;
  right: 0;
  display: none;
  grid-auto-flow: column;
  gap: 3em;
  justify-items: center;
  z-index: 1;
  white-space: nowrap;
}

.menu__dropdown:last-of-type {
  padding-right: 0;
}

.menu__dropdown_bg {
  display: none;
  position: absolute;
  top: 51px;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: inherit;
}

.menu__desktopContainer {
  background: inherit;
}

.menu__mobileContainer {
  position: absolute;
  height: 0;
  overflow: hidden;
  background: inherit;
  top: 50px;
  left: 0;
  width: 100%;
  transition: height 0.5s ease-in-out;
}

.menu__mobileContainer_open {
  height: calc(100vh - 50px);
}

.menu__mobile {
  display: flex;
  flex-direction: column;
  margin: 24px 12px;
  padding: 0;
  width: calc(100% - 24px);
}

.menu__mobile_secondLevel {
  margin: 24px 12px;
  column-width: 48%;
  column-count: 2;
  column-gap: 4%;
  border-bottom: 1px solid var(--color30, #9e9e9e);
}

.menu__mobile {
  border-bottom: 1px solid var(--color30, #9e9e9e);
}

@media screen and (max-width: 768px) {
  .menu__desktop {
    display: none;
  }
  .menu__item {
    padding: 0;
    height: unset;
    width: fit-content;
    margin-bottom: 1.75rem;
  }
}
