.menu {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 3em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
}
.menu__item a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  height: 100%;
}
.menu__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color90, #323232);
  bottom: -1px;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
.menu__item:hover::before {
  transform: scaleX(1);
}

.menu__dropdown {
  position: absolute;
  list-style: none;
  top: 50px;
  right: 0;
  display: none;
  grid-auto-flow: column;
  gap: 3em;
  justify-items: center;
  z-index: 1;
  white-space: nowrap;
}
.menu__dropdown:last-of-type {
  padding-right: 0;
}
@media screen and (min-width: 801px) {
  .menu__item:hover .menu__dropdown {
    display: grid;
  }
}

.menu__dropdown_bg {
  display: none;
  position: absolute;
  top: 51px;
  left: auto;
  height: 49px;
  width: 100%;
  max-width: calc(min(1400px, 100% - 2rem));
  background-color: inherit;
  border-bottom: 1px var(--color30, #e7e4de) solid;
}
@media screen and (min-width: 801px) {
  .menu__container:hover ~ .menu__dropdown_bg {
    display: block;
  }
}

.menu__container {
  background-color: inherit;
  margin-left: 1rem;
}

.menu_open {
  position: absolute;
  overflow-y: auto;
  top: 51px;
  left: 0;
  width: 100%;
  height: calc(100dvh - 51px);
}
.menu__container.open > .menu {
  display: flex;
}

@media screen and (min-width: 801px) {
  .menu__container ul:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1rem;
    border-bottom: 1px solid var(--color30, #9e9e9e);
  }
  .menu__container {
    margin-left: unset;
  }
  .menu__item::before {
    bottom: 16px;
  }
}

.menu__button {
  display: none;
  width: 26px;
  min-width: 26px;
  height: 26px;
  padding: 4px;
  margin-left: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: opacity 0.25s linear;
}
.menu__button:hover {
  opacity: 0.65;
}
@media screen and (max-width: 800px) {
  .menu__button {
    display: block;
  }
}
