.user__menu {
  width: 26px;
  min-width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--color30, gray);
  cursor: pointer;
  transition: opacity 0.25s linear;
}
.user__menu:hover {
  opacity: 0.65;
}
.user__menu img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
