.user__menu {
  width: 26px;
  min-width: 26px;
  height: 26px;
  margin-left: 3rem;
  border-radius: 50%;
  background-color: var(--color30, gray);
  cursor: pointer;
  transition: opacity 0.25s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.user__menu:hover {
  opacity: 0.65;
}
